<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="LiveConStr"
       connectionString="Server=sql7.livehosting.local;Database=site10;Uid=site10;Password=zxc10;"
        providerName="System.Data.SqlClient" />
    <add name="LocalConStr"
      connectionString="Data Source=.;Initial Catalog=AlternativeDB;Integrated Security=True;"
       providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
